/*!
 * Copyright 2014 FuturePress
 */

 .topofpage {
 	margin-top: 80px;
 }

 .pull-right {
 	float: right !important;
 }

 .mainmenu {
 	margin-right: 15px !important;
 }

 .cover_thumb {
    max-height: 200px;
    max-width: 200px;
 }

 .authorbio {
 	margin: 8px 4 0 23px;
 }

 .authorbio .authorphoto {
	margin: 72px 0 0 2px;		
 }

 .booklist {
 	
 }

 .booklist li {
 	list-style-type: none;
 }