/*!
 * Copyright 2014 FuturePress
 */

 .topofpage {
 	margin-top: 80px;
 }

 .pull-right {
 	float: right !important;
 }

 .mainmenu {
 	margin-right: 15px !important;
 }

 .cover_thumb {
    max-height: 200px;
    max-width: 200px;
 }