{% extends "base.html" %}

{% block body %}


<p>FuturePress is the product of a multidisciplinary research project at the UC Berkeley School of Information. Special thanks to faculty advisor Professor Robert Glushko, who has deep background in publishing technology and business, as well as industry experts Erik Wilde and Scott Abel who are also advising the project. <p>


      <div class="container">
        <div class="row-fluid">
          <h2>Feedback &amp; Questions</h2>
          <p>We'd love to hear from you—especially if you want to contribute to the project, or are interested in making publishing more standardized and open.</p>
          
          <a href="mailto:jake.hartnell@berkeley.edu">jake.hartnell@berkeley.edu</a>
          <ul class="unstyled inline social">
<!--             <li><a href="#"><i class="icon-phone"></i></a></li>
            <li><a href="#"><i class="icon-facebook"></i></a></li> -->
            <li><a href="https://twitter.com/JakeHartnell"><i class="icon-twitter"></i></a></li>
            <li><a href="https://github.com/fchasen/epub.js/"><i class="icon-github-alt"></i></a></li>
<!--             <li><a href="#"><i class="icon-linkedin"></i></a></li>
            <li><a href="#"><i class="icon-google-plus"></i></a></li> -->
          </ul>
Epub is a registered trademark of the IDPF.
        </div>
      </div>
    

    <!-- FOOTER -->
    {% include 'footer.html' %}

    </div><!-- /.container -->
{% endblock %}