{% extends "base.html" %}

{% block body %}
    <div class="container featurette topofpage">
      <div class="row">
        <div class="col-md-4 col-md-offset-1">
          <img class="featurette-image img-responsive"
               {% if book.cover_large %} src="/{{ book.cover_large }}" {% else %}
                data-src="holder.js/500x750/auto" {% endif %} alt="Generic placeholder image">
        </div>
        <div class="col-md-7">
          <h2 class="featurette-heading">{{ book.title }}</h2>
          <h4>Author</h4>
          <p><a href="/author/{{ book.author.author_id }}">{{ book.author.name }}</a></p>
          <h4>Publisher</h4>
          <p>{{ book.publisher }}</p>
          <h4>Genres</h4>
          {% for genre in book.genres %}
            <p>{{ genre.name }}</p>
          {% endfor %}


        </div>
      </div>
    <!-- FOOTER -->
    {% include 'footer.html' %}
    </div> <!-- /container -->
{% endblock %}