{% extends "base.html" %}

{% block body %}
    <div class="container featurette topofpage">
      <div class="row">
        <div class="col-md-4 col-md-offset-1">
          <img class="featurette-image img-responsive"
               {% if book.cover_large %} src="{{book.cover_large}}" {% else %}
                data-src="holder.js/500x750/auto" {% endif %} alt="Generic placeholder image">
        </div>
        <div class="col-md-7">
          <h2 class="featurette-heading">{{ book.title }}</h2>
          <h4>Author</h4>
          <p><a href="/author/{{ book.author.slug }}">{{ book.author.name }}</a></p>
          <h4>Publisher</h4>
          <p>{{ book.publisher }}</p>
          <h4>Description</h4>
          <p>{{ book.description }}</p>
          <h4>Genres</h4>
          {% for genre in book.genres %}
            <a href="{{ url_for('book_routes.books', genre=genre.name) }}">{{ genre.name }}</a>
          {% endfor %}

          <!-- Indicates a successful or positive action -->
           {% if user.is_authenticated() %}
           <form id="purchase" action="{{ url_for('book_routes.purchase',book_id=book.book_id) }}" method="POST" role="form" enctype="multipart/form-data">
            <button class="btn btn-success" type="submit">Purchase Book</button>
           </form>
           {% else %}
            <a href="{{ url_for('auth_routes.login') }}"<button class="btn btn-success" type="submit">Sign In To Purchase</button></a>
           {% endif %}
        </div>
      </div>
    <!-- FOOTER -->
    {% include 'footer.html' %}
    </div> <!-- /container -->
{% endblock %}