<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- <link rel="shortcut icon" href="../../assets/ico/favicon.ico"> -->

    <title>FUTUREPRESS</title>

    <!-- Bootstrap core CSS -->
    <link href="static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Custom styles for this template -->
    <link href="static/css/carousel.css" rel="stylesheet">
  </head>
  <body>
  	<div class="container">
  	<!-- Copy and pasted this which is found on a number of sites. Needs to be looked into again. -->
	<h1>Intellectual Property Policy</h1>

	<p>FuturePress, Inc. ("Company") has adopted the following general policy toward claims of infringement with respect to intellectual property owned or controlled by third parties in accordance with the Digital Millennium Copyright Act (<a href="http://lcweb.loc.gov/copyright/legislation/dmca.pdf">http://lcweb.loc.gov/copyright/legislation/dmca.pdf</a>).  The address of Company's Designated Agent to Receive Notification of Claimed Infringement ("Designated Agent") is listed at the end of this policy.</p>

	<p>It is Company's policy to (1) block access to or remove material that it believes in good faith to be the intellectual property of a third party (e.g., copyrights, trademarks, trade secrets, etc.) that has been illegally copied and distributed by any of our advertisers, affiliates, content providers, members or users; and (2) remove and discontinue service to repeat offenders. A repeat infringer is a user for whom FuturePress has received more than two notices of claimed infringement or for which FuturePress has had to remove content more than twice. Notwithstanding the preceding sentence, FuturePress reserves the right to immediately terminate the account of any user for egregious infringing activities in FuturePress's sole determination and discretion.</p>

	<ol type="A" class="">
	<li class="">
	<div class="">
	    <p>Procedure for Reporting Claimed Infringement:<p>
	    
	    <p>If you believe that material or content residing on or accessible through the Company Web site or service infringes an intellectual property right that you own or control, please send a notice of claimed infringement containing the following information and <em>only</em> the following information to the Designated Agent listed below. Please note that you will be liable for damages, including costs and attorneys' fees, if you materially misrepresent that content or an activity is infringing your copyrights. <span style="color:red;">Your communication must include all of the following items:</span>
	    
	    <ol>
		    <li><p>A physical or electronic signature of a person authorized to act on behalf of the owner of the work that has been allegedly infringed;</p>
		    <li><p>Identification of works or materials being infringed;</p>
		    <li><p>Identification of the material that is claimed to be infringing including information regarding the location of the infringing materials that the intellectual property owner seeks to have removed, with sufficient detail so that Company is capable of finding and verifying its existence; <strong>Providing URLs in the body of an email is the best way to help us locate content quickly.</strong></p>
		    <li><p>Information reasonably sufficient to permit us to contact you, such as an address, telephone number, and, if available, an electronic mail address at which you may be contacted;</p>
		    <li><p>If claiming <strong>copyright infringement,</strong> the statement "I swear under penalty of perjury that I am the copyright owner or am authorized to act on behalf of the owner of an exclusive right that is allegedly infringed, and that the information in this notification is accurate. I have a good faith belief that use of the copyrighted materials described above as allegedly infringing is not authorized by the copyright owner, its agent, or the law."</p>
		    <p>If claiming <strong>trademark infringement,</strong> the statement "I swear under penalty of perjury that I am the trademark owner or am authorized to act on behalf of the owner of an exclusive right that is allegedly infringed, and that the information in this notification is accurate. I have a good faith belief that use of the materials described above as allegedly infringing is not authorized by the intellectual property owner, its agent, or the law."</p>
	    </ol>
	    
	    <p>Note that a copy of your legal notice will be forwarded to the party responsible for providing the alleged infringing content.</p>
	    
	    <p><span style="color:red;">Please do not include <em>any</em> information in your report other than the above items. The wonderful thing about the DMCA is that it makes the sordid details of your bass player's departure completely irrelevant. Simply include the information above and we'll have all the information we need.</span></p>
	</div>
	</li>

	<li class="">
	<div class="">
	    <p>Once Proper Bona Fide Infringement Notification is Received by the Designated Agent:</p>
	    
	    <p>It is Company's policy:</p>
	    <ol>
	    <li>to remove or disable access to the infringing material;
	    <li>to notify the content provider, member or user that it has removed or disabled access to the material; and
	    <li>that repeat offenders will have the infringing material removed from the system and that Company will terminate such content provider's, member's or user's access to the service.
	    </ol>
	</div>
	</li>

	<li class="">
	<div class="">
	    <p>Procedure to Supply a Counter-Notice to the Designated Agent:</p>
	    
	    <p>If the content provider, member or user believes that the material that was removed or to which access was disabled is either not infringing, or the content provider, member or user believes that it has the right to post and use such material from the owner of the intellectual property, the owner's agent, or pursuant to the law, the content provider, member or user must send a counter-notice containing the following information to the Designated Agent listed below:</p>
	    <ol>
	    <li>A physical or electronic signature of the content provider, member or user;
	    <li>Identification of the material that has been removed or to which access to has been disabled and the location at which the material appeared before it was removed or disabled;
	    <li>A statement that the content provider, member or user has a good faith belief that the material was removed or disabled as a result of mistake or a misidentification of the material; and
	    <li>Content provider's, member's or user's name, address, telephone number, and, if available, e-mail address and a statement that such person or entity consents to the jurisdiction of the Federal Court for the judicial district in which the content provider's, member's or user's address is located, or if the content provider's, member's or user's address is located outside the United States, for any judicial district in which Company is located, and that such person or entity will accept service of process from the person who provided notification of the alleged infringement.
	    </ol>
	    <p>If a counter-notice is received by the Designated Agent, Company may send a copy of the counter-notice to the original complaining party informing that person that Company may replace the removed material or cease disabling it in 10 business days.  Unless the owner files an action seeking a court order against the content provider, member or user, the removed material may be replaced or access to it restored in 10 to 14 business days or more after receipt of the counter-notice, at Company's discretion.</p>
	</div>
	</li>
	</ol>

	<p>Please contact Company's Designated Agent to Receive Notification of Claimed Infringement at the following address: <a href="mailto:copyright@FuturePress.com">copyright@FuturePress.com</a></p>
	</div>
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="static/js/bootstrap.js"></script>
  </body>
</html>