{% extends "base.html" %}

{% block body %}

    <!-- Begin page content -->
    <div class="container topofpage">
      <form id="register" action="{{ url_for('author_routes.edit_book',book_id=book.book_id) }}" method="POST" class="form-register" role="form" enctype="multipart/form-data">
        <h3 class="form-register-heading">Add Book</h3>
        <label for="title">Title</label>
        <input id="title" name="title" type="text" class="form-control" value="{{ book.title }}" required>
        <br>
        <label for="isbn">ISBN</label>
        <input id="isbn" name="isbn" type="text" class="form-control" value="{{ book.isbn }}" required>
        <br>
        <label for="publisher">Publisher</label>
        <input id="publisher" name="publisher" type="text" class="form-control" value="{{ book.publisher }}" required>
        <br>
        <label for="description">Description</label>
        <textarea id="description" name="description" type="textarea" rows="9" style="width:300px;">{{ book.description }}</textarea>
        <br>
        <h5>Genres - <small>Separate with a comma</small></h5>
        <input name="genres" type="text" class="form-control" value="{% for genre in book.genres %}{{genre.name}}, {% endfor %}" required>
        <br>
        {% if error %}<div class="alert alert-danger">{{ error }}</div>{% endif %}
        <button class="btn btn-lg btn-primary btn-block" type="submit">List Book</button>
      </form>

    <!-- FOOTER -->
    {% include 'footer.html' %}

    <script type="text/javascript">
        $(document).ready(function(){
            $("#register").validate({
                rules:{
                    title:{
                        required: true,
                    },
                    genres:{
                        required: true,
                    },
                }
                errorClass: "help-inline"
                });
        });
    </script>
{% endblock %}