{% extends "base.html" %}

{% block body %}
    <div class="container topofpage">
      <div class="row">
        <div class="col-md-2">
            <h4>Genre -  {{ genre.name }}</h4>
        </div>
        <div class="col-md-10">
          <div class="row booklist">
                {% for book in genre.books %}
                  {% include 'book_item.html' %}
                {% endfor %}
          </div>
        </div>
      </div>
    <!-- FOOTER -->
    {% include 'footer.html' %}
    </div><!-- /container -->
{% endblock %}