{% extends "base.html" %}

{% block body %}
    <!-- NOTE: The Front Page should feature user content! -->
    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="item active">
          <img data-src="holder.js/900x500/auto/#777:#7a7a7a/text:First slide" alt="First slide">
          <div class="container">
            <div class="carousel-caption">
              <!-- This could be a video, when we finish one. --> 
              <h1>Welcome to the future of publishing</h1>
              <p>We have a simple idea: <em>Pay people when they add value</em>. In the 21st Century, when jobs are so hard to come by, we should pay people to make art, write a blog, recommend something to a friend, or contribute to internet culture. Enter FUTUREPRESS...
              </p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">>>>>>CLICK HERE<<<<<</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img data-src="holder.js/900x500/auto/#666:#6a6a6a/text:Second slide" alt="Second slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Support Writers</h1>
              <p>Donation models?</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img data-src="holder.js/900x500/auto/#555:#5a5a5a/text:Third slide" alt="Third slide">
          <div class="container">
            <div class="carousel-caption">
              <h1></h1>
              <!-- Incentivizing payment. --> 
              <!-- Also, rewrite this. -->
              <p></p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div><!-- /.carousel -->



    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4">
          <img class="img-circle" data-src="holder.js/140x140" alt="Generic placeholder image">
          <h2>More money to people, not corporations</h2>
          <p>Apple and Amazon take 30% for themselves of each purchase, but we redistribute to people who help spread the word about books: reviewers, developers, and readers.</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" data-src="holder.js/140x140" alt="Generic placeholder image">
          <h2>Open Source</h2>
          <p>We are an open source company</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" data-src="holder.js/140x140" alt="Generic placeholder image">
          <h2>Rethinking Publishing</h2>
          <p>We aim to create not a platform, but a publishing Ecosystem in which more people in the content industry can benefit.</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->


      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Read on any device<span class="text-muted">Anywhere</span></h2>
          <p class="lead">With Futurepress there is no device lock in. Our technologies are all open source and based on open standards. Any device that supports epub or a modern browser will work. If you want to export your library you can.</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-5">
          <img class="featurette-image img-responsive" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
        </div>
        <div class="col-md-7">
          <h2 class="featurette-heading">Sell anywhere.<span class="text-muted">Checkmate.</span></h2>
          <p class="lead">Make money for selling. Whether you're a music blogger or <em>The New York Times</em>, we give you <strong>30%</strong> commission for a sale that comes from your site.</p>
        </div>
      </div>
      <!-- /END THE FEATURETTES -->

    <!-- FOOTER -->
    {% include 'footer.html' %}

    </div><!-- /.container -->
{% endblock %}