<div class="navbar-collapse collapse pull-right mainmenu">
  <ul class="nav navbar-nav">
    <li {% if request.endpoint == 'index' %} class='active' {% endif %}><a href="{{ url_for('index') }}">Discover</a></li>
    <li {% if request.endpoint == 'makers' %} class='active' {% endif %}><a href="{{ url_for('makers') }}">Content makers</a></li>
    <li {% if request.endpoint == 'readers' %} class='active' {% endif %}><a href="{{ url_for('readers') }}">Readers</a></li>
    <li>
      <form class="navbar-form">
        <input type="text" class="form-control" placeholder="Search...">
      </form>
    </li>
    <li><a href="{{ url_for('login') }}">Sign In</a></li>
  </ul>
</div>