<div class="navbar-collapse collapse pull-right top-menu">
  <ul class="nav navbar-nav">
    <li {% if request.endpoint == 'book_routes.books' %} class='active' {% endif %}><a href="{{ url_for('book_routes.books') }}">Discover Books</a></li>
    {% if app_user.is_author %}
    <li{% if request.endpoint == 'author_routes.author_dashboard' %} class='active' {% endif %}><a href="{{ url_for('author_routes.author_dashboard') }}">Author Dashboard</a></li>
    {% endif %}
    <li{% if request.endpoint == 'user_routes.library' %} class='active' {% endif %}><a href="{{ url_for('user_routes.library') }}">Library</a></li>
    <li>
     {% include 'nav/search.html' %}
    </li>
    <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"> {{ user.username }} <b class="caret"></b></a>
          <ul class="dropdown-menu nav-dropdown">
            {% if app_user.is_author %}
            <li><a href="{{ url_for('author_routes.settings') }}">Author Settings</a></li>
            {% endif %}
            <li><a href="{{ url_for('user_routes.settings') }}">Settings</a></li>
            <li class="divider"></li>
            <li><a href="{{ url_for('auth_routes.logout') }}">Log Out</a></li>
          </ul>
    </li>
  </ul>
</div>